body {
 background-color: white;
}


p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(195, 139, 139);
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
}


.footer {
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    background-color: antiquewhite;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(255, 243, 230);
    font-family: 'Source Sans Pro', sans-serif;

}
#voice{
    font-family: 'Montserrat', sans-serif;
}
#image{
padding-top: 10px;
bottom: 5;
}